<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>DSM - Department Store Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <partial name="_NavMenu" />
    </header>
    <main role="main" class="container mt-3">
        @RenderBody()
    </main>
</body>
</html>
